In [1]:
import pandas as pd

animes = pd.read_csv("S:\Projects/anime\data\data_1_500.csv")
animes.head(10)

,Episodes,Status,Studios,Genres,Ratings,Scores,Rank,Popularity,Members,Favorites,titles,SP
0,25,Finished Airing,Wit Studio,"Action, Drama",R - 17+ (violence & profanity),8.53,100,1,"3,510,395","155,195",Shingeki no Kyojin,"['Crunchyroll', 'Funimation']"
1,37,Finished Airing,Madhouse,"Supernatural, Suspense",R - 17+ (violence & profanity),8.62,73,2,"3,491,046","159,080",Death Note,"['Crunchyroll', 'Funimation']"
2,64,Finished Airing,Bones,"Action, Adventure, Drama, Fantasy",R - 17+ (violence & profanity),9.13,1,3,"2,966,462","206,903",Fullmetal Alchemist: Brotherhood,"['Crunchyroll', 'Funimation']"
3,12,Finished Airing,Madhouse,"Action, Comedy",R - 17+ (violence & profanity),8.51,110,4,"2,868,306","59,353",One Punch Man,"['Crunchyroll', 'Funimation']"
4,25,Finished Airing,A-1 Pictures,"Action, Adventure, Fantasy, Romance",PG-13 - Teens 13 or older,7.20,3018,5,"2,805,024","64,861",Sword Art Online,"['Crunchyroll', 'Funimation']"
5,13,Finished Airing,Bones,Genre: Action,PG-13 - Teens 13 or older,7.92,670,6,"2,698,039","52,063",Boku no Hero Academia,"['Crunchyroll', 'Funimation']"
6,12,Finished Airing,Pierrot,"Action, Fantasy, Horror",R - 17+ (violence & profanity),7.79,912,7,"2,547,096","47,252",Tokyo Ghoul,"['Crunchyroll', 'Funimation']"
7,220,Finished Airing,Pierrot,"Action, Adventure, Fantasy",PG-13 - Teens 13 or older,7.97,605,8,"2,546,671","71,501",Naruto,"['Crunchyroll', 'Funimation']"
8,26,Finished Airing,ufotable,"Action, Fantasy",R - 17+ (violence & profanity),8.54,96,9,"2,534,543","82,761",Kimetsu no Yaiba,"['Crunchyroll', 'Funimation']"
9,148,Finished Airing,Madhouse,"Action, Adventure, Fantasy",PG-13 - Teens 13 or older,9.04,9,10,"2,451,264","187,689",Hunter x Hunter (2011),"['Crunchyroll', 'Netflix']"

In [2]:
#Below is the code to find the number of null values and data type of all features.
animes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Episodes    300 non-null    object
 1   Status      300 non-null    object
 2   Studios     300 non-null    object
 3   Genres      300 non-null    object
 4   Ratings     300 non-null    object
 5   Scores      300 non-null    float64
 6   Rank        300 non-null    int64
 7   Popularity  300 non-null    int64
 8   Members     300 non-null    object
 9   Favorites   300 non-null    object
 10  titles      300 non-null    object
 11  SP          283 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 28.2+ KB

In [3]:
#Since we have given NA for all the null values in the data. Let's try finding no.of NA's in each column
columns = ['Episodes', 'Status', 'Studios', 'Genres', 'Ratings', 'Members', 'Favorites', 'titles']

for col in columns:
    count = 0
    if(animes[col].str.contains('NA').any() == True):
        count = count + 1
    print(f'{col} : {count}')

Episodes : 0
Status : 0
Studios : 0
Genres : 0
Ratings : 0
Members : 0
Favorites : 0
titles : 0

In [4]:
#Below is the details about the numeric features present in the dataset
animes.describe()

           Scores          Rank  Popularity
count  300.000000    300.000000  300.000000
mean     7.918400   1230.396667  150.500000
std      0.617481   1699.410015   86.746758
min      5.340000      1.000000    1.000000
25%      7.497500    189.750000   75.750000
50%      8.005000    565.000000  150.500000
75%      8.360000   1683.000000  225.250000
max      9.130000  11608.000000  300.000000

In [5]:
#In the info it shows that members and favorites are object data types but they need to be in int or float formats.
#animes['Members'] = animes['Members'].astype(int,errors = 'raise') -- This doesnot work since the numbers have , in between them.
members = []

for member in animes['Members']:
    member = member.replace(',','')
    members.append(member)
    
animes['Members'] = pd.Series(members).astype(int, errors = 'raise')
animes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Episodes    300 non-null    object
 1   Status      300 non-null    object
 2   Studios     300 non-null    object
 3   Genres      300 non-null    object
 4   Ratings     300 non-null    object
 5   Scores      300 non-null    float64
 6   Rank        300 non-null    int64
 7   Popularity  300 non-null    int64
 8   Members     300 non-null    int32
 9   Favorites   300 non-null    object
 10  titles      300 non-null    object
 11  SP          283 non-null    object
dtypes: float64(1), int32(1), int64(2), object(8)
memory usage: 27.1+ KB

In [6]:
#In the info it shows that members and favorites are object data types but they need to be in int or float formats.
favorites = []

for favorite in animes['Favorites']:
    favorite = favorite.replace(',','')
    favorites.append(favorite)
    
animes['Favorites'] = pd.Series(favorites).astype(int, errors = 'raise')
animes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Episodes    300 non-null    object
 1   Status      300 non-null    object
 2   Studios     300 non-null    object
 3   Genres      300 non-null    object
 4   Ratings     300 non-null    object
 5   Scores      300 non-null    float64
 6   Rank        300 non-null    int64
 7   Popularity  300 non-null    int64
 8   Members     300 non-null    int32
 9   Favorites   300 non-null    int32
 10  titles      300 non-null    object
 11  SP          283 non-null    object
dtypes: float64(1), int32(2), int64(2), object(7)
memory usage: 25.9+ KB

In [7]:
#Now, let us see the numeric data analysis
animes.describe()

           Scores          Rank  Popularity       Members      Favorites
count  300.000000    300.000000  300.000000  3.000000e+02     300.000000
mean     7.918400   1230.396667  150.500000  1.095713e+06   22396.846667
std      0.617481   1699.410015   86.746758  5.334122e+05   29136.466567
min      5.340000      1.000000    1.000000  5.957070e+05     767.000000
25%      7.497500    189.750000   75.750000  7.265800e+05    6360.750000
50%      8.005000    565.000000  150.500000  8.932490e+05   12783.500000
75%      8.360000   1683.000000  225.250000  1.337306e+06   25404.250000
max      9.130000  11608.000000  300.000000  3.510395e+06  206903.000000

In [8]:
#Check for the duplicate values
animes[animes.duplicated() == True]

Empty DataFrame
Columns: [Episodes, Status, Studios, Genres, Ratings, Scores, Rank, Popularity, Members, Favorites, titles, SP]
Index: []

In [9]:
#With the above step we have done all the changes needed for the data. Let's save this data for future use.
animes.to_csv('S:\Projects/anime\data/up_data.csv', index = False)